<div class="container-fluid homepage-wrapper homepage-full">

  <!-- intro -->
  <div class="row">

    <div class="col-lg-4 homepage-intro" id="content">

      <h1>Welcome to the Duke Digital Repository</h1>

      <p>Curation and preservation for Duke's digital commons</p>

      <p><a href="/catalog?search_field=all_fields">Browse our collections &raquo;</a></p>

    </div>

    <div class="homepage-feature">

    </div>

  </div>


  <!-- Content -->

  <div class="row">

    <div class="col col-md-12 well home-mission">

      <h2>Our Mission</h2>

      <div class="row">
        <div class="col col-md-6">
          <p>The Duke Digital Repository (DDR) is a service of Duke University Libraries that supports the activities of the University's faculty, researchers, students, and library staff by preserving, securing, and providing access to digital resources.</p>
        </div>
        <div class="col col-md-6">

          <div class="row">

            <div class="col col-md-6">
              <a href="https://library.duke.edu/ddr/" class="btn btn-success">Learn More</a>
              <div class="text-center">
                <p class="text-muted">about our services, policies, and mission</p>
              </div>
            </div>
            <div class="col col-md-6">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactModal">Contact Us</button>
              <div class="text-center">
                <p class="text-muted">with your questions or inquiries</p>
              </div>
            </div>

              <!-- Contact Modal -->
              <div id="contactModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content ">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Contact Form</h4>
                    </div>
                    <div class="modal-body">
                      <iframe src="https://duke.qualtrics.com/SE/?SID=SV_1Mw3ZtGb27bUFbD" seamless frameborder="0" style="width: 100%; height: 530px; border: none;"></iframe>
                    </div>
                    <!--<div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>-->
                  </div>

                </div>
              </div>

          </div>

        </div>
      </div>

    </div>

  </div>

  <div class="row">

    <div class="col col-md-12">

      <p class="lead">The Duke Digital Repository is built on three program areas.<br />Follow the links below for more information.</p>

    </div>

  </div>

  <div class="row row-flex row-flex-wrap homepage-content">

    <div class="col col-md-4">
      <a href="https://library.duke.edu/ddr/research-data">
        <div class="home-button">
          <h2>Research Data</h2>
          <p>Data management and curation for research at Duke</p>
        </div>
      </a>
      <p class="description">Learn more about our services, and access data from Duke researchers</p>
    </div>

    <div class="col col-md-4">
      <a href="https://scholarworks.duke.edu/">
        <div class="home-button">
          <h2>Scholarly Publications</h2>
          <p>Open access for Duke authors</p>
        </div>
      </a>
      <p class="description">Learn more about Open Access at Duke, and find scholarship by Duke authors</p>
    </div>

    <div class="col col-md-4">
      <a href="https://library.duke.edu/ddr/library-collections">
        <div class="home-button">
          <h2>Library Collections</h2>
          <p>Digital items owned or stewarded by Duke University Libraries</p>
        </div>
      </a>
      <p class="description">Learn more about our collections and programs</p>
    </div>

  </div>


</div>
